.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;           
}

.about-text {
  flex: 1;              
  font-size: 19px;
  line-height: 1.7;
  color: white;
}

.about-image {
  width: 690px;
  height: auto;
}
