.contact-container {
  background-color: #000;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
  border-radius: 30px;
  margin: 30px;
}

.contact-container h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.contact-details {
  max-width: 500px;
  margin: auto;
}

.contact-details p {
  font-size: 16px;
  margin: 12px 0;
  color: #ddd;
}
