.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.home-text {
  width: 50%;
}

.home-text p {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  
}

.home-text b {
  font-size: 36px;
  display: block;
  margin-bottom: 10px;
}

.home-image {
  width:40%;
}

.home-image img {
  width: 100%;
  height: auto;
}
